body{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    background-color: #424a56;
}
h2{
    text-shadow:1px 1px rgba(0, 0, 0, 1);
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.myEllipsis {
    min-width:500px; 
    /* -- height must be set -- */
    height: 150px; 
}
.myEllipsis p {
    margin: 0px;  
    text-align: justify;
    
}
/* change text settings */
.color p {
    margin: 0px; 
    padding: 50px;
    text-align: justify;
    
}
.color{
    margin: 0 auto;
    background-color: #333;
    color: #e7e7e7;
    margin-bottom: 20px;
}
.color:nth-child(odd){
    margin: 0 auto;
    background-color: #333;
    color: #e7e7e7;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.color:nth-child(even){
    margin: 0 auto;
    background-color: #00c764;
    color: #e7e7e7;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
/*.color:nth-child(n){
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #333;
    color: #e7e7e7;
    box-shadow: 0px 0px 5px 1px rgba(52, 73, 94,1.0);
}*/
.right_top{
    position: relative;
    float: right;
    width:500px;
    overflow: hidden;
}
.left_top{
    position: relative;
    float: left;
    width:500px;
    overflow: hidden;
}
.before_text{
    text-shadow:1px 1px rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #e45e55;
    margin-bottom: 5px;
}
.after_text{
    text-shadow:1px 1px rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #00c764;
    margin-bottom: 5px;
}
.wrapper{
    width: 1010px;
    margin: 0 auto;
}
.main{
    border: hidden;;
    float: left;
    width: 1005px;
    margin: 0 auto;
    box-shadow: 0px 0px 500px 400px rgba(236, 240, 241,0.2);
    background-color:rgba(236, 240, 241,0.2);
}
.right{
    position: relative;
    float: right;
    width:500px;
}
.left{
    position: relative;
    float: left;
    width:500px;
    height: 150px;
    overflow: hidden;
}